// Here you can add other styles

.login_custom {
  width: 44%;
  background: linear-gradient(rgba(237, 186, 186, 0.38), rgba(237, 186, 186, 0.38)),
    url('src/assets/images/training_loggin.jpg');
  background-size: cover;
  background-position: center;
}

.icon-small {
  width: 18px; // Ajusta el tamaño según sea necesario
  height: 18px; // Ajusta el tamaño según sea necesario
  margin-left: 5px; // Espacio entre el texto y el ícono
}

.nav-link:hover {
  background-color: #dd7b7b !important;
}

.simplebar-content .active {
  background-color: #dd7b7b !important;
}

.sidebar-logo {
  width: 230px; // Asegura que la imagen ocupe todo el ancho disponible
  height: 80px; // Mantiene la proporción de la imagen
  overflow: hidden; // Mantiene la proporción de la imagen
  display: block; // Asegura que la imagen se muestre como un bloque
  margin: 0 auto; // Centra la imagen horizontalmente
  border-radius: 10px; // Bordes redondeados
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); // Sombra para un efecto de profundidad
}
.sidebar-logo img {
  object-fit: cover; // Asegura que la imagen cubra todo el espacio sin distorsionarse
}

.graphSize {
  width: 50%;
  height: 50%;
}
