// Here you can add other styles

.login_custom {
  width: 44%;
  background: linear-gradient(rgba(237, 186, 186, 0.38), rgba(237, 186, 186, 0.38)),
    url('src/assets/images/training_loggin.jpg');
  background-size: cover;
  background-position: center;
}

.icon-small {
  width: 18px; // Ajusta el tamaño según sea necesario
  height: 18px; // Ajusta el tamaño según sea necesario
  margin-left: 5px; // Espacio entre el texto y el ícono
}
